.creditly-wrapper {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: white;
}
.creditly-wrapper .credit-card-wrapper {
    padding:0;
}
.creditly-wrapper input.has-error {
	outline: none;
	border-color: #ff7076;
    border-top-color: #ff5c61;
    border: 1px solid #ff7076;
}
.creditly-wrapper label {
    display: inline-block;
    margin-bottom: .7em;
    color:#fff;
    font-size:1.4em;
}
.creditly-wrapper .form-group {
  width: 100%;
  display: table;
}
.creditly-wrapper .card-type {
  margin-top: 10px;
}
.creditly-card-form .submit {
	outline:none;
	overflow: hidden;
	display: inline-block;
	visibility: visible!important;
	-webkit-font-smoothing: antialiased;
	border: none;
	padding: 1px;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.creditly-card-form .submit span {
    display: block;
    position: relative;
    padding: 0.7em 2em;
    letter-spacing: 1px;
    background: #FF7416;
    font-size: 1.3em;
    color: #fff;
    border: none;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	transition: 0.5s all;
    text-transform: uppercase;
}
.creditly-card-form .submit span:hover {
    background:#26bec5;
    color: #fff;
}
.creditly-card-form .submit span:hover i{
	padding-left:1em;
}
.creditly-card-form .submit span i{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
@media (max-width: 667px){
	.creditly-card-form .submit span {
		font-size: 1.2em;
	}
	.creditly-wrapper label {
		font-size: 1.3em;
	}
}
@media (max-width: 480px){
	.creditly-card-form .submit span {
		padding: 0.6em 1.8em;
	}
}
@media (max-width: 414px){
	.creditly-card-form .submit span:hover i {
		padding-left: 0.5em;
	}
	.creditly-wrapper label {
		font-size: 1.2em;
	}
}
@media (max-width: 384px){
	.creditly-card-form .submit span {
		font-size: 1.1em;
	}
}
@media (max-width: 375px){
	.nl-accordion label.nl-label {
		font-size: 1.1em;
	}
	.creditly-card-form .submit span {
		padding: 0.6em 1em;
	}
}
@media (max-width: 320px){
	.creditly-card-form .submit span {
		font-size: 1em;
	}
}